backend/cache
backend/sde/
backend/generated/
backend/eve-pvp-search
backend/*.exe
backend/test_build
backend/sde.zip
backend/static/styles.css
logs/
.vscode/
__pycache__/
docs/
.env
.env.local
.env.scanners
*.env
clamav-state/
Brackets/
agents/
.env.prod
.env.test
TODO.md
clear-registry-images.sh
generate-env-stands.sh
